* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5% (1rem = 10px);
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 62,5% (1rem = 10px);
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: linear-gradient(to right,  #98cf8a, #33a89e);
}
header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
}
/* SOBRE MI */
nav {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    margin: 0;
    /*background: linear-gradient(to right,  #98cf8a, #33a89e);*/
}
nav a {
    color: white;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 5px;   
  }
.sobreMi {
    /*display: block;*/
    color: #00477f;
    font-weight: bold;
    z-index: 1;
    animation: moverIzquierda 1s ease-in;
}
.btn-sobremi {
 padding: 0.3rem 1rem 0.3rem 1rem !important;
 border: 0.1rem solid rgba(71, 160, 152, 0.2); 
 border-radius: 2rem;
 font-size: 0.93rem;
 margin: 10px 0 0 5px;
 box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.2);
}
.btn-sobremi:hover{
    box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.1);
    font-size: 1.02rem;
}
.btn-sobremi:active {
    font-size: 0.95rem;
    box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.1);
}
/* TOOLTIP */
[tooltip] {
    position: relative;
    z-index: -1;
}
  [tooltip]::before,
  [tooltip]::after {
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    opacity: 1;
    animation-name:	flecha;
    font-size: 0.6rem;
  }
  [tooltip]::before {
    content: '';
    border: 4px solid transparent; 
    z-index: -1; 
  }
  [tooltip]::after {
    content: attr(tooltip); 
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 10em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 10px;
    background: transparent;
    color: rgb(1, 51, 126);
    animation-name:	flecha;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
    z-index: -1;
  }
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: rgb(1, 51, 126);
    right: calc(0em - 20px);
    transform: translate(.5em, -50%);
    animation-name:	flecha;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
    z-index: -1;
  }
  @keyframes flecha {
    from {
      transform: translate(15px, -50%);
      }
    to {
        transform: translate(5px, -50%);
    }
  }
  /*FIN TOOLTIP*/
  /* SOBRE MI POPUP */
  .sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.enlaces {
    position: fixed;
    background: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 1s ease;
    background: #1d976c;
    background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);
    background: linear-gradient(to right, #93f9b9, #98cf8a,);
}
.uno {
    -webkit-clip-path: circle(0% at 00);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 00);
    clip-path: circle(150% at 00);
}
.lolita {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    transition: linear 0.2s;
}
.txt-sobre-mi {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.txt-sobre-mi p {
    color: rgb(245, 245, 245);
    font-family: "Jost", sans-serif;
    font-size: 0.83rem;
    text-shadow: 1px 1px 1px rgba(0,71,127,0.4);
    margin: 0 10px 0 5px;
    transition: linear 0.2s;    
}
.contenedor-descarga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10px ;
}
.contenedor-cv{
    width: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; 
}
.contenedor-cv img{
    width: 100%;
}
.contenedor-cv a{
    font-size: 0.6rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,71,127,0.4);
}
#cv-color {
    color: rgb(10, 10, 10);
    font-size: .8rem;
}
@media (min-width: 768px){
    .sobre-mi {
        flex-direction: row;   
    }
    .enlaces {
        justify-content: center;
        align-items: center;
    }
    .lolita {
        width: 200px;
        height: 200px;
        margin: auto 30px auto 100px;
    }
    .txt-sobre-mi {
        flex-direction: row;
    }
    .txt-sobre-mi p {
        font-size: 0.9rem;
        margin: 0 100px 0 5px;

    }
    .btn-descarga{
        height: 30px;
        padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    }
    .btn-descarga:active {
        bottom: 13px;
    }
    #cv-color {
        color: rgb(10, 10, 10);
        font-size: .8rem;
    }
    .contenedor-descarga {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: 30vh;
        margin: 0;
    }
    .contenedor-cv{
        width: 100px;
    }
    .contenedor-cv a{
        font-size: 1rem;
    }
}
@media (min-width: 992px) {
    .lolita {
        width: 300px;
        height: 300px;
        margin: auto 40px auto 100px;
    }
    .txt-sobre-mi p {
        font-size: 1.2rem;
        margin: 0 100px 0 5px;
    }
    .btn-descarga{
        height: 30px;
        padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    }
    .btn-descarga:active {
        bottom: 13px;
    }
    #cv-color {
        color: rgb(10, 10, 10);
        font-size: .8rem;
    }
    .contenedor-descarga {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: 30vh;
        margin: 0;
    }
    .contenedor-cv{
        width: 100px;
    }
    .contenedor-cv a{
        font-size: 1rem;
    }
}
  /* FIN SOBRE MI POPUP */
/* FIN SOBRE MI */
/* CONTAINER HEADER */
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 5px 0 5px;
    text-align: center;
    max-height: 410px;
    
}
.textos {
    color: rgb(248, 248, 248);  
}
.textos h1 {
    font-size: 2.5rem;
    line-height: 50px;
    animation: moverDerecha 1s ease-in;
    text-shadow: 1px 1px 1px rgba(0,71,127,0.4); 
}
.textos h2 {
    font-size: 1rem;
    color: #00477f;
    margin-top: 10px;
    animation: moverIzquierda 1s ease-in;
}
#img { /* imagen principal */
    height: 100%;
    object-fit: cover;
    animation: moverDerecha 1s ease-in;
    margin: auto;
    z-index: -1;
}
.contenedor-img {
    height: 240px;
    padding: 10px;
    box-sizing: border-box;
}
.contenedor-img:active {
    height: 235px;
}
@media (min-width: 768px){
    .container {
        flex-direction: row !important;
        max-height: 768px;
    }
    .textos h1{
        font-size: 4.3rem;
        line-height: 80px;
    }
    .textos h2 {
        font-size: 2rem;
        margin-top: 30px;
    }
    .contenedor-img {
        height: 450px;
        padding: 10px;
    }  
}
/* FOOTER */
footer {
    box-sizing: border-box;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p {
    color: rgb(252, 252, 252);
    text-shadow: 1px 1px 1px rgba(0,71,127,0.4); 
    font-weight: 700;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.container-btn a img{
    height: 40px;
    width: 40px;
    transition: 0.1s ease;
}
.container-btn a img:hover{
    height: 43px;
    width: 43px;
    transition:  0.1s ease;
}
.container-btn a img:active{
    height: 38px;
    width: 38px;
    transition: 0.1s ease;
}

/* TOOLTIP para ICONO GITHUB */

/*FIN TOOLTIP para ICONO GITHUB */

.row-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70px;  
    animation: arriba 1s ease-in;
}
.img-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    
}
.img-container:last-child {
    margin-right: 0px;;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.mail-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(40, 70, 110, 0.15);
    margin-top: 10px;
    animation: arriba 1s ease-in;
    
}
#mail-color{
color:rgb(245, 245, 245);
text-shadow: 1px 1px 1px rgba(0,71,127,0.4); 
}
.mail img {
    height: 30px;
    margin-right: 7px;
    text-align: center;
}

.mail a {
    color: #00477f;
    font-size: 1rem;
    font-weight: 700;
    
    text-align: center;
    text-decoration: none;
}
@keyframes moverIzquierda {
    0% {
        opacity: o;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: o;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: o;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}