* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5% (1rem = 10px);
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #a2d396, #3ca59d);
}
header {
    background: linear-gradient(to right,  #98cf8a, #33a89e));
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
}
.relleno-nav {
    height: 10px;
}
/* SOBRE MI */
nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: white;
    text-decoration: none;
}
.sobreMi {
    display: block;
    color: #00477f;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;

}
.btn-sobremi {
 padding: 0.4rem 1.6rem;
 border: 0.1rem solid rgba(71, 160, 152, 0.2); 
 border-radius: 2rem;
 font-size: 1.2rem;
 background:rgba(112,188,154,0.2);
}

/* TOOLTIP */
[tooltip] {
    position: relative;
}
  [tooltip]::before,
  [tooltip]::after {
    font-size: .4em; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    opacity: 1;
    animation-name:	flecha;
  }
  [tooltip]::before {
    content: '';
    border: 4px solid transparent; 
    z-index: 1001; 
  }
  [tooltip]::after {
    content: attr(tooltip); 
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 10em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 10px;
    background: transparent;
    color: rgb(1, 51, 126);
    z-index: 1000;
    animation-name:	flecha;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: rgb(1, 51, 126);
    right: calc(0em - 20px);
    transform: translate(.5em, -50%);
    animation-name:	flecha;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  @keyframes flecha {
    from {
      transform: translate(35px, -50%);
      }
    to {
        transform: translate(20px, -50%);
    }
  }
  /*FIN TOOLTIP*/

/* FIN SOBRE MI */


/* CONTAINER HEADER */
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto 5px auto 5px;
    text-align: center;
}

.textos {
    color: rgb(248, 248, 248);
    
}
.textos h1 {
    font-size: 2.5rem;
    line-height: 50px;
    animation: moverDerecha 1s ease-in;
    text-shadow: 1px 1px 1px rgba(0,71,127,0.4); 
}

.textos h2 {
    font-size: 1rem;
    color: #00477f;
    margin-top: 10px;
    animation: moverIzquierda 1s ease-in;
}


#img { /* imagen principal */
    height: 240px;
    object-fit: cover;
    animation: arriba 1s ease-in;
    margin: 25px auto auto auto;
}


/* FOOTER */
footer {
    margin: auto;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
}
.linea-footer {
    
    height: 2px;
    border: 2px solid rgba(59, 165, 165, 0.15);    
}
.linea-footer:hover {
    border: 2px solid rgba(126, 163, 91, 0.65); 
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -20px auto auto auto;
    box-sizing: border-box;
}
.container-btn a img{
    height: 40px;
    width: 40px;
}
.container-btn a img:hover{
    height: 43px;
    width: 43px;
}
.container-btn a img:hover{
    height: 43px;
    width: 43px;
}

.row-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70px;  
}
.img-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.img-container:last-child {
    margin-right: 0px;;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-align: center;
}
.mail-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.mail img {
    height: 30px;
    margin-right: 7px;
    animation: arriba 1s ease-in;
    text-align: center;
}

.mail a {
    color: #00477f;
    font-size: 19px;
    font-weight: 700;
    animation: arriba 1s ease-in;
    text-align: center;
    text-decoration: none;
}



.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #1d976c;
    background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);
    background: linear-gradient(to right, #93f9b9, #1d976c);
}

.uno {
    -webkit-clip-path: circle(0% at 00);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 00);
    clip-path: circle(150% at 00);
}

.sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 120px;
}

.lolita {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

.txt-sobre-mi {
    text-align: center;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

.txt-sobre-mi h1 {
    color: #00477f;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.txt-sobre-mi p {
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    margin-bottom: 70px;
    padding: 20px;
    width: 600px;
    text-shadow: 1px 2px 1px rgba(0,71,127,0.4); }

.txt-sobre-mi a {
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
}


@keyframes moverIzquierda {
    0% {
        opacity: o;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: o;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: o;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/*
@media screen and (max-width: 1000px) {
    img {
        height: 400px;
    }
    .texto {
        margin-right: 30px;
    }
    .textos h1 {
        font-size: 50px;
    }
    .textos h2 {
        font-size: 20px;
    }
    .txt-sobre-mi h1 {
        font-size: 30px;
    }
    .txt-sobre-mi p {
        font-size: 21px;
        margin: 0 5px 0 5px;
        padding: 0;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    img {
        height: 320px;
    }
    .textos h1 {
        font-size: 43px;
    }
    .textos h2 {
        font-size: 15px;
    }
    .botones-redes{ 
        margin-top: 20px;
    }
    .sobre-mi {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;

    }
    .lolita {
        width: 300px;
        height: 300px;
        margin-right: 0;
        margin-top: -40px;
        margin-bottom: 2px;
    }
    .txt-sobre-mi h1 {
        font-size: 31px;
    }
    .txt-sobre-mi p {
        font-size: 22px;
        margin: 0 5px 0 5px;
        padding: 0;
        width: auto;
    }
    .txt-sobre-mi .btn-proyecto-contenedor {
        text-align: start;
        margin-top: 5px;
        margin-left: 80px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 230px;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 35px;
    }
    .textos h2 {
        font-size: 25px;
    }
    .icono {
        font-size: 20px;
    }
    .botones-redes{ 
        margin-top: 15px;
    }
    .botones-redes a {
        margin-right: 40px;
    }
    .mail img {
        height: 10px;
        margin-right: 7px;
    }
    
    .mail p {
        font-size: 14px;
    }
    .row-icon {
        height: 50px;
    }
    .botones-redes {
        margin-top: -25px;
    }
    .botones-redes a img{
        height: 30px;
        width: 30px;
    }
    .sobre-mi {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;

    }
    .lolita {
        width: 245px;
        height: 245px;
        margin-right: 0;
        margin-top: -40px;
        margin-bottom: 2px;
    }
    .txt-sobre-mi h1 {
        font-size: 31px;
    }
    .txt-sobre-mi p {
        font-size: 22px;
        margin: 0 5px 0 5px;
        padding: 0;
        width: auto;
    }
    .txt-sobre-mi .btn-proyecto-contenedor {
        text-align: start;
        margin-top: 5px;
        margin-left: 80px;
    }

}

@media screen and (max-width: 360px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 40px;
        margin-top: 12px;
    }
    .textos h2 {
        font-size: 25px;
    }
    .icono {
        font-size: 20px;
    }
    .container h1 {
        line-height: 40px;
    }
    .img {
        height: 260px;
    }
    .botones-redes a {
        margin-right: 25px;
    }
    .botones-redes a img:hover{
        height: 0px;
        width: 0px;
    }
    .botones-redes a img:active{
        height: 35px;
        width: 35px;
    }
    .mail {
        margin-top: 10px;
    }
    .mail img {
        height: 20px;
        margin-right: 7px;
    }
    
    .mail p {
        font-size: 14px;
    }
    .row-icon {
        height: 50px;
    }
    .botones-redes {
        margin-top: -5px;
    }
    .botones-redes a img{
        height: 30px;
        width: 30px;
    }
    .sobre-mi {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;

    }
    .lolita {
        width: 200px;
        height: 200px;
        margin-right: 0;
        margin-top: -40px;
        margin-bottom: 5px;
    }
    .txt-sobre-mi h1 {
        font-size: 28px;
    }
    .txt-sobre-mi p {
        font-size: 21px;
        margin: 0 5px 0 5px;
        padding: 0;
        width: auto;
    }
    .txt-sobre-mi .btn-proyecto-contenedor {
        text-align: start;
        margin-top: 10px;
        margin-left: 65px;
    }

 
}

@media screen and (max-width: 340px) {
    header {

        padding: 0px;
        width: 100%;
        height: 80vh;
    }
    img {
        height: 260px;
    }
    .textos h1 {
        font-size: 30px;
        margin-top: 10px;
    }
    .textos a {
        width: 100px;
    }
    .textos h2 {
        font-size: 20px;
    }
    .icono {
        font-size: 17px;
    }
    .botones-redes a {
        margin-right: 25px;
    }
    .botones-redes a img:active{
        height: 35px;
        width: 35px;
    }
    .mail img {
        height: 20px;
        margin-right: 7px;
    }
    
    .mail p {
        font-size: 14px;
    }
    .row-icon {
        height: 50px;
    }
    .botones-redes {
        margin-top: -25px;
    }
    .botones-redes a img{
        height: 30px;
        width: 30px;
    }

    .sobre-mi {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;

    }
    .lolita {
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-top: -40px;
    }
    .txt-sobre-mi h1 {
        font-size: 25px;
    }
    .txt-sobre-mi p {
        font-size: 20px;
        margin: 0 5px 0 5px;
        padding: 0;
        width: auto;
    }
    .txt-sobre-mi .btn-proyecto-contenedor {
        text-align: start;
        margin-top: 10px;
        margin-left: 40px;
    }


}
/* BOTON Proyecto */



/* FIN BOTON Proyecto */


/* FOOTER */



/* FIN FOOTER */