* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: white;
    text-decoration: none;
}

.icono {
    display: block;
    color: #00477f;
    font-size: 25px;
    font-weight: bold;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header {
    background: #a8ff78;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    padding: 48px;
    width: 100%;
    height: 80vh;
}

.container {
    width: 85%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

img {
    display: block;
    height: 450px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos {
    width: 50%;
    color: white;
}

.textos h1 {
    font-size: 60px;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 20px;
    color: #00477f;
    margin-top: 20px;
    animation: moverIzquierda 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #00477f;
    font-weight: 300px;
    text-decoration: none;
    margin-top: 30px;
    border: 8px solid white;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
    font-size: 20px;
}

.wave {
    height: 90px;
    width: 100%;
    background: #a8ff78;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #1d976c;
    background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);
    background: linear-gradient(to right, #93f9b9, #1d976c);
}

.uno {
    -webkit-clip-path: circle(0% at 00);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 00);
    clip-path: circle(150% at 00);
}

.sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 120px;
}

.lolita {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

.txt-sobre-mi {
    text-align: center;
}

.txt-sobre-mi h1 {
    color: #00477f;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.txt-sobre-mi p {
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    margin-bottom: 70px;
    padding: 20px;
    width: 600px;
}

.txt-sobre-mi a {
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
}

.proyect {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #00477f;
    color: white;
}

@keyframes moverIzquierda {
    0% {
        opacity: o;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: o;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: o;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1000px) {
    img {
        height: 400px;
    }
    .texto {
        margin-right: 30px;
    }
    .textos h1 {
        font-size: 50px;
    }
    .textos h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    img {
        height: 320px;
    }
    .textos h1 {
        font-size: 43px;
    }
    .textos h2 {
        font-size: 11px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 230px;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 35px;
    }
    .textos h2 {
        font-size: 25px;
    }
    .icono {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 40px;
        margin-top: 12px;
    }
    .textos h2 {
        font-size: 25px;
    }
    .icono {
        font-size: 20px;
    }
    .container h1 {
        line-height: 40px;
    }
    .img {
        height: 260px;
    }
}

@media screen and (max-width: 340px) {
    img {
        height: 260px;
    }
    .textos h1 {
        font-size: 30px;
        margin-top: 10px;
    }
    .textos a {
        width: 100px;
    }
    .textos h2 {
        font-size: 20px;
    }
    .icono {
        font-size: 17px;
    }
}


/* BOTON Proyecto */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveOut 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveOut {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.btn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.btn:hover::after,
.btn:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}


/* FIN BOTON Proyecto */